main {
  color: var(--isWhite);
  background-color: var(--baseBackground);
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}
p,
h4,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: var(--isWhite);
  margin-bottom: 0;
  text-transform: inherit;
}
.navbar {
  padding: 1rem 1rem;
  background-color: var(--isDark);
}
.navbar-brand:hover {
  color: var(--isWhite);
}
.card {
  background-color: var(--isDark);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
}
.card:before {
  content: "";
  height: 4px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.card.dangermax:before {
  background-color: red;
}
.card.notnormal:before {
  background-color: var(--notnormal2);
}
.card.urgency:before {
  background: linear-gradient(
    to right,
    var(--urgency-1) 0%,
    var(--urgency-2) 100%
  );
}

.card-header,
.card-footer {
  background: transparent;
}
.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.3rem 0;
}
.card-footer {
  font-weight: normal;
  margin-bottom: 0;
}

.text-success {
  color: var(--lime-green) !important;
}
.img-fluid {
  height: 18px;
}
.btn-support {
  animation: birra 6s infinite !important;
  border: 2px solid #ffc107;
  font-weight: bold;
  padding: 6px 45px 6px 30px !important;
  border-radius: 12px;
  text-decoration: none;
  color: #ffc107 !important;
  text-transform: none;
  font-size: 1.1em;
}
.btn-support:hover {
  text-shadow: 1px 0px 2px #ffc107;
}

.birra {
  position: absolute;
  padding-left: 5px;
  animation: tada 4s infinite;
}
@keyframes tada {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.is-dark-mode {
  --isWhite: #ffffff;
  --baseBackground: #1d2029;
  --isDark: #252b43;
  --arrow-selector: var(--isDark)
    url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
    no-repeat right 1.5rem center/8px 10px;
  --switchSpinner: #282943;
  --switch: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
}

.is-light-mode {
  --baseBackground: #ffffff;
  --isWhite: #1d2029;
  --isDark: #f0f3fa;
  --arrow-selector: var(--isDark)
    url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
    no-repeat right 1.5rem center/8px 10px;
  --switchSpinner: white;
  --switch: #5f616d;
}
